{{ define "Show" }}
    {{ template "Header" }}
        <h2> task {{ .Id }} </h2>
        <p>Name: {{ .Name }}</p>
        <p>Content: {{ .Content }}</p><br/> <a href="/edit?id={{ .Id }}">Edit</a></p>
    {{template "Footer"}}
{{end}}